* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: #EC715F;
}

.contents {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.nav {
  display: block;
  display: flex;
  justify-content: flex-end;
}

.navlist {
  display: flex;
  padding: 20px;
  color: #fafafa;
}

.headline {
  width: 100%;
  height: 650px;
  color: #fafafa;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  padding-top: 200px;
}

.body {
  font-size: 18px;
  padding-top: 10px;
}

.heading {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
}

.heading-text {
  padding-top: 30px;
  text-align: center;
  font-size: 16px;
}

.portfolio {
  background-color: #ECEFF1;
}

.production-group {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0 90px 0;
}

.production {
  margin: 10px 10px 0 0;
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
}

.strength-group {
  display: flex;
  padding: 30px 0 90px 0;
  margin: 0 auto;
}

.strength {
  margin-right: 10px;
}

.icon {
  font-size: 60px;
}

.profile {
  background-color: #ECEFF1;
}

.profile-group {
  text-align: center;
  display: flex;
  padding: 30px 0 90px 0;
}

.left-content {
  width: 50%;
}

.profile-image {
  /*margin-bottom: 30px*/
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 50%;
}

.right-content {
  width: 50%;
}

.description-title {
  margin: 20px 0 5px 0;
  font-size: 20px;
}

.contact-group {
  display: flex;
  padding: 30px 0 90px 0;
}

.left-contact {
  width: 50%;
}

.right-contact {
  width: 50%;
}

.sns-icon {
  font-size: 50px;
}

.copyright {
  font-size: 16px;
  text-align: center;
  color: #fafafa;
}

footer {
  background-color: #EC715F;
  line-height: 60px;
}
